@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center" runat="server" id="a" >
    <h1 class="display-4">Bem Vindos</h1>
    <p>Sobre Nós <a href="https://www.biolabfarma.com.br/pt/">
    INOVAMOS
    PORQUE QUEREMOS SER PROTAGONISTAS HOJE E NA CONSTRUÇÃO DO FUTURO
</a>.</p>
</div>
